<h4>Agregar {{title}}</h4>
        <form class="row" (ngSubmit)="emitObject()">
            <input 
            type="text" [(ngModel)]="object.name" 
            name="[name]"
            class='form-control mb-2' 
            placeholder="Nombre">

            <input 
            type="text" 
            [(ngModel)]="object.place" 
            name="[place]"
            class='form-control mb-2' 
            placeholder="Lugar">

            <!-- <pre>{{character | json}}</pre> -->
            <button type="submit" class="btn btn-primary" >
                Agregar 
            </button>
        </form>