
<div class="container mt-5">
  <div class="row">
    <!-- Dashboard de Citas en Agenda -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Citas en Agenda
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Consultorio</th>
                <th>Paciente</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cita of citasAgenda">
                <td>{{ cita.office.name }}</td>
                <td>{{ cita.patient.name }}  {{ cita.patient.lastName }}</td>
                <td>{{ cita.date }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Dashboard de Citas Atendidas -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-success text-white">
          Citas Atendidas
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Consultorio</th>
                <th>Paciente</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cita of citasAtendidas">
                  <td>{{ cita.office.name }}</td>
                  <td>{{ cita.patient.name }}  {{ cita.patient.lastName }}</td>
                  <td>{{ cita.date }}</td>
                </tr></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>