
<div class="d-grid containerTitle d-md-flex ">
    <img class="img-thumbnail" id='doctor' class='doctor' src="./assets/doctor.png">
    <h1 class="Title"> ConsultApp </h1> 
</div>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" routerLink="">Inicios</button>
  <button type="button" class="btn btn-primary" routerLink="Patient">Pacientes</button>
  <button type="button" class="btn btn-primary" routerLink="Office">Consultorios</button>  
  <button type="button" class="btn btn-primary" routerLink="Appointment">Crear Citas</button> 
   <button class="btn btn-primary" type="button" >
      <span class="material-symbols-outlined">person</span> 
    </button>
</div>