/* You can add global styles to this file, and also import other style files */
.doctor{
    width:125px ;
    height: 80px;
}

.Title{
    font-weight: bold;
    font-size: 46px;
    align-content: flex-end;
    color: #0d6efd;
}

.containerTitle{
    gap: 4.5rem !important;
}

    
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
